<br>
<app-quiz-item
    quizCategory='Formula 1'
    quizName='Guess tracks. Season 2019.'
    quizDescription='21 questions with tracks from 2019. Check if you recognize all of them!'
    date="20.03.2020"
    quizPath='f1-guess-tracks'>
</app-quiz-item>
<br>
<app-quiz-item
    quizCategory='Formula 1'
    quizName='Drivers. Season 2019.'
    quizDescription='Complete drivers of all teams in season 2019!'
    date="26.03.2020"
    quizPath='f1-guess-drivers'>
</app-quiz-item>
<br>
<!-- <app-quiz-item>

</app-quiz-item> -->
