<div class="card text-center">
  <div class="card-header">
    {{quizCategory}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{quizName}}</h5>
    <div class='text-placeholder'>
      <p class="card-text"><ng-content></ng-content></p>
      <div class="form-group">
        <input #userNameBox type="text" class="form-control" placeholder="Please insert your username" (keydown.enter)='startQuiz(userNameBox.value)'>
      </div>
      {{username}}
      <div class='btn-group'>
        <!-- <button type="button" class="btn btn-secondary mr-2">Results</button> -->
        <button class="btn btn-success" (click)='startQuiz(userNameBox.value)'>Start</button>
      </div>
    </div>
  </div>
</div>
<br>
